<div class="db-form-connect">
    <div class="group">
        <label>Host:
            <input type="text" name="host" id="host" />
        </label>

        <label>Port:
            <input type="text" name="port" id="port" />
        </label>
    </div>

    <div class="group">
        <label>User:
            <input type="text" name="user" id="user" />
        </label>

        <label>Password:
            <input type="password" name="password" id="password" />
        </label>
    </div>

    <div class="group">
        <label>Database:
            <input type="text" name="database" id="database" />
        </label>
    </div>
</div>
