<div id="database-panel" class="database bottom-panel vert-resizable top-resizer no-focus">
    <div class="toolbar simple-toolbar-layout">
        <div class="db-group-left">
            <input type="text" name="query" class="db-query" placeholder="Query" disabled />
            <button title="Query" class="btn small db-run-query" disabled>Run</button>
            <button title="List tables" class="btn small db-list-tables" disabled>List Tables</button>
        </div>
        <div class="db-group-right">
            <button title="Connect" class="btn small db-connect">Connect</button>
            <button title="Disconnect" class="btn small db-disconnect" disabled>Disconnect</button>
        </div>
        <a href="#" class="close">&times;</a>
    </div>
    <div class="table-container resizable-content"></div>
</div>
